<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
             
                <div class="sb-sidenav-menu-heading">Menüler</div>

                <a class="nav-link collapsed" href="/Product/Index" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ürünler
                  
                </a>
                <a class="nav-link collapsed" href="/Customer/Index" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Müşteriler
            
                </a>
                <a class="nav-link collapsed" href="/Category/Index" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                    
                </a>
                <a class="nav-link collapsed" href="/Job/Index" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-bicycle"></i></div>
                    Meslekler

                </a>
                <a class="nav-link collapsed" href="/Product/Create" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
                    Yeni Ürün Girişi
     
                </a>
                <a class="nav-link collapsed" href="/Category/Create" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
                    Yeni Kategori Girişi
           
                </a>

                <a class="nav-link collapsed" href="/Category/Create" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-password"></i></div>
                    Şifre İşlemleri
 
                </a>

                <a class="nav-link collapsed" href="/Product/Create" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-battery-quarter"></i></div>
                    Yardım
               
                </a>
                <a class="nav-link collapsed" href="/Login/LogOut" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-exit"></i></div>
                    Çıkış Yap
                 
                </a>
      
      
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>