@using EntityLayer.Concrete
@{
    ViewData["Title"] = "Details";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Details</h1>
<h3>
	<b>Id:</b> @Model.Id
</h3>
<h3>
	<b>Name:</b> @Model.Name
	</h3>
<h3>
	<b>Price:</b> @Model.Price
</h3>
<h3>
	<b>Stock:</b> @Model.Stock
</h3>

