@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h1>Ürünler Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok</th>
       
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
       
            <td><a href="/Product/Delete/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Product/Update/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
         </tr>
    }
</table>
<br />

<a href="/Product/Create/" class="btn btn-outline-primary">Yeni Ürün Ekle</a>



